[bot]
# your bot's username
username = "nerosmaid_bot"

# Prefix for messages addressing your bot
prefix = "(мейда?|медуза?|горничная)[,\\s]*"

# Telegram bot token, can be obtained through the @BotFather
token = "telegram bot token"

[misc.danbooru]
# Data from this section is optional
# leave it as-is if you don't need that kind of functionality
login = "danbooru login"
token = "danbooru token"

[ai]
model = "gpt-3.5-turbo" # openai model that supports chat completion
token = "openai token" # token obtained from the https://platform.openai.com/account/api-keys

# Settings for your character
[ai.character]
name = "Medusa"
sex = "female"

# Settings for your character's master
[ai.master]
name = "Nero, Неро in Russian (name does not incline)"
username = "nerodono" # telegram username
sex = "male"
