[bot]
username = "nerosmaid_bot"
prefix = "(мейда?|медуза?|горничная)[,\\s]*"
token = "telegram bot token"

[ai]
model = "gpt-3.5-turbo"
token = "openai token"

[ai.character]
name = "Medusa"
sex = "female"

[ai.master]
name = "Nero, Неро in Russian (name does not incline)"
username = "nerodono"
sex = "male"
